.yyt{
   width: 950px;
   height: 600px;
}
.si{
    color: gray;
}
.justin{
    width: 400px;
    height: 300px;
}
.criminal{
    width: 400px;
    height: 300px;
}
.cheb{
    width: 400px;
    height: 300px;
}
.hiya{
    width: 400px;
    height: 300px;
}